body{
    background-color: black;
}

nav.navbar {
    background-color: black;
    color: aqua;
    overflow: hidden;
}

img {
    width: 250px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}